<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <% include partials/layout/dependenciesDEV %>
  </head>

  <body>
    <h1>Shortly</h1>
    <%- body %>
  </body>
</html>
